*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'dinproregular';
    src: url('dinpro-regular_13937-webfont.woff2') format('woff2'),
         url('dinpro-regular_13937-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'dinproregular', sans-serif;
}