*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'dinproregular';
    src: url('dinpro-regular_13937-webfont.woff2') format('woff2'),
         url('dinpro-regular_13937-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    scroll-behavior: smooth;
    line-height: 1.6;
}

body{
    font-family: 'dinproregular', sans-serif;
    margin: 0;
    overflow: hidden;
}
#world {
    position: absolute;
    width:75%;
    height: 100%;
    right:0;
    overflow: hidden;
  }
  
  .panel {
      position:absolute;
      top:0;
      left:0;
      padding: 2em 3em;
      width: 25%;
  }
  
  .game-title {
      margin-top: 0;
      text-align:center;
      font-weight: bold;
      font-size:2.5em;
  }
  .stat p{
    font-size: 1.5em;
  }
  .stat p{
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
  }
  .stat p:first-child{
    padding-top: 0.5rem;
  }
  .stat {
      text-align:center;
      border: 0.1rem solid #333;
      border-radius: 1rem;
      margin-bottom: 2rem;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  }
  #score, #highscore {
    font-size: 1.5rem;
    margin-bottom: 0;    
  }
  .stat p{
    margin-top: 0;
  }

  
  .controls{
    border: 0.1rem solid #333;
    border-radius: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    transition: transform .2s ease-in-out;
  }
  .controls:hover{
    transform: scale(1.02);
  }
  .controls h2{
    font-size: 1.5em;
    margin-left: 1.5rem;
  }
  .variable-content{
    font-weight: bold;
    text-decoration: underline;
  }
  .controls h3{
    font-size: 1rem;
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
  }

  #game-container {
    width: 100vw;
    height: 100vh;
    background-color: #abcdef;
    position: relative;
    overflow: hidden;

  }
  #player {
    width: 50px;
    height: 50px;
    background-color: #ff0000;
    position: absolute;
    bottom: 0;
    left: calc(50% - 25px); /* Plaatst de speler in het midden */
    transition: left 0.1s linear;
  }
  .coin, .obstacle {
    width: 20px;
    height: 20px;
    position: absolute;
  }
  .coin {
    background-color: #ffd700;
  }
  #game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: red;
    display: none;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: underline;
  }



